

p {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: rgb(36, 34, 34);
    width: 300px;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    vertical-align: baseline;
    margin: 10px 15px 15px 15px;
    padding: 20px 15px 10px 25px;
    font-weight:bold;
    
}
h2 {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-decoration: solid;
}
h3 {
    text-decoration: underline red;
}



